.button__like {
    margin: 0;
    max-width: 21px;
    max-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    align-self: center;
    opacity: 1;
    transition: opacity 0.2s linear;
   
  }
  
  .button__like:hover {
    opacity: 0.5;
  }