.button__add {
  min-width: 100%;
  min-height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.button__add:hover {
  opacity: 0.6;
}

@media screen and (min-width: 900px) {
  .button__add {
    max-width: 150px;
    min-width: 150px;
    max-height: 50px;
    grid-area: button-add;
  }
}
