.profile__name {
margin: 0;
font-size: 22px;
font-weight: 500;
line-height: 1.22;
color: #fff;
padding-right: 10px;
}
  
@media screen and (min-width: 600px) 
{
.profile__name {
font-size: 42px;
line-height: 1.14;
padding-right: 18px;
    }
}