.button__edit {
  margin: 0;
  max-width: 18px;
  min-height: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  align-self: center;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.button__edit:hover {
  opacity: 0.6;
}

@media screen and (min-width: 600px) {
  .button__edit {
    min-width: 12px;
    min-height: 12px;
  }
}
